@charset "UTF-8";
.container {
  background-image: url("./assets/lego.jpeg");
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  height: 80vh;
}

body {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top;
}

.menu {
  width: 100%;
  padding-left: 48px;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}
.menu__left {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.menu__button {
  background-color: transparent;
  min-width: 46px;
  min-height: 46px;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.menu__button:hover {
  background-color: grey;
  cursor: pointer;
}
.menu__cloudgamingbtn {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  max-height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin-right: 20rem;
}
.menu__cloudgamingbtn:hover {
  background-color: grey;
  border-radius: 5px;
}
.menu__logo {
  display: flex;
  background-color: transparent;
  max-width: 56px;
  max-height: 56px;
}
.menu__right {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu__searchbar {
  width: 70%;
  text-align: center;
}
.menu__structure {
  border-radius: 35px;
  position: relative;
  height: 48px;
  text-align: center;
}
.menu__bar {
  background-color: rgb(24, 24, 24);
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 35px;
  padding: 8px 40px 8px 45px;
  border: 1px solid lightgrey;
  transition: box-shadow 0.3s;
  color: rgba(227, 213, 213, 0.547);
  font-size: 16px;
  line-height: 5px;
}
.menu__bar:focus {
  outline: none;
  box-shadow: 0 0 5px 2px white;
}
.menu__bar::-moz-placeholder {
  color: rgba(227, 213, 213, 0.419);
  padding-left: 4px;
}
.menu__bar::placeholder {
  color: rgba(227, 213, 213, 0.419);
  padding-left: 4px;
}
.menu__search {
  position: absolute;
  left: 0;
  min-width: 5px;
  height: 5px;
  border: none;
  background: none;
  padding-left: 25px;
  padding-top: 0.4rem;
}
.menu__Icon-search {
  align-items: center;
  min-width: 20px;
}
.menu__profilebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #484e58;
}

.background {
  display: flex;
  margin-left: 5rem;
  margin-top: 16rem;
  color: white;
  max-width: 600px;
  font-family: "Roboto", sans-serif;
}
.background__prod {
  color: rgba(255, 255, 255, 0.527);
  font-size: 22px;
}
.background__gamepass {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.background__pass {
  width: 120px;
}
.background__signin {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.background__signinbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: 40px;
  background-color: #008746;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  color: white;
}
.background__cart {
  background-color: rgb(184, 178, 178);
  border: none;
  border-radius: 0.2rem;
  width: 100px;
}
.background .backgroung__img {
  height: 35px;
}

.descrizione {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-left: 7rem;
  margin-top: 5rem;
}

.content {
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
.content__card {
  height: 100px;
  width: 200px;
}
.content__imgCard {
  height: 250px;
  width: 180px;
  border-radius: 0.5rem;
  margin-left: 1.2rem;
}
.content__desc {
  display: flex;
  width: 1093px;
  min-height: 250px;
  background-color: rgb(56, 54, 54);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  gap: 5rem;
}
.content__descrizione1 {
  color: white;
  max-width: 300px;
}
.content__info {
  margin-top: 1rem;
}
.content__ulteriori {
  margin-top: 1rem;
}

.funzionalità {
  display: flex;
  margin-top: 2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
}
.funzionalità h2 {
  margin-left: 7rem;
}
.funzionalità__container {
  margin-left: 7rem;
  margin-top: 1rem;
  padding-top: 2rem;
  width: 538px;
  min-height: 204px;
  background-color: rgb(56, 54, 54);
  border-radius: 0.5rem;
}
.funzionalità button {
  align-items: center;
  margin-top: 1rem;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: white;
  background: transparent;
  border-color: white;
  height: 35px;
  width: 160px;
  font-size: 10px;
  border-radius: 0.5rem;
  margin-left: 0.8rem;
}

.informazioni {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}
.informazioni__list {
  margin-left: 7rem;
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.informazioni li:nth-child(1):hover {
  background-color: rgba(211, 211, 211, 0.39);
  width: 220px;
}
.informazioni li:nth-child(2):hover {
  background-color: rgba(211, 211, 211, 0.39);
  width: 190px;
}
.informazioni li:nth-child(3):hover {
  background-color: rgba(211, 211, 211, 0.39);
  width: 270px;
}
.informazioni li:nth-child(4):hover {
  background-color: rgba(211, 211, 211, 0.39);
  width: 470px;
}
.informazioni li:nth-child(5):hover {
  background-color: rgba(211, 211, 211, 0.39);
  width: 220px;
}

.footer {
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
  background-color: rgb(3, 0, 0);
  padding-left: 7rem;
  padding-top: 1rem;
  width: 100%;
}
.footer h4 {
  color: rgba(255, 255, 255, 0.402);
}
.footer ul {
  margin-top: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
}
.footer li {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.402);
}
.footer__first {
  display: flex;
  gap: 8rem;
}

@media (max-width: 390px) {
  body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  .container {
    background-image: url("./assets/legomedia.webp");
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
  }
  .menu {
    width: 100%;
    padding-left: 8px;
    display: flex;
    justify-content: space-around;
    padding-top: 1.5rem;
  }
  .menu__button {
    background-color: transparent;
    min-width: 46px;
    min-height: 46px;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 0;
    text-align: center;
  }
  .menu__logo {
    display: flex;
    background-color: transparent;
    max-width: 56px;
    max-height: 56px;
  }
  .menu__button:hover {
    background-color: grey;
    cursor: pointer;
  }
  .menu__cloudgamingbtn {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    max-height: 50px;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    margin-right: 0;
  }
  .menu__cloudgamingbtn:hover {
    background-color: grey;
    border-radius: 5px;
  }
  .menu__logo {
    display: flex;
    background-color: transparent;
    max-width: 56px;
    max-height: 56px;
  }
  .menu__right {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .menu__searchbar {
    width: 70%;
    text-align: center;
  }
  .menu__structure {
    border-radius: 35px;
    position: relative;
    height: 48px;
    text-align: center;
  }
  .menu__bar {
    background-color: rgb(24, 24, 24);
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 35px;
    padding: 8px 40px 8px 45px;
    border: 1px solid lightgrey;
    transition: box-shadow 0.3s;
    color: rgba(227, 213, 213, 0.547);
    font-size: 16px;
    line-height: 5px;
  }
  .menu__bar:focus {
    outline: none;
    box-shadow: 0 0 5px 2px white;
  }
  .menu__bar::-moz-placeholder {
    color: rgba(227, 213, 213, 0.419);
  }
  .menu__bar::placeholder {
    color: rgba(227, 213, 213, 0.419);
  }
  .menu__search {
    position: absolute;
    left: 0;
    min-width: 5px;
    height: 5px;
    border: none;
    background: none;
    padding-left: 25px;
    padding-top: 0.8rem;
  }
  .menu__Icon-search {
    align-items: center;
    width: 20px;
  }
  .menu__profilebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #484e58;
  }
  .background {
    display: flex;
    margin-left: 1rem;
    margin-top: 14rem;
    color: white;
    max-width: 600px;
    font-family: "Roboto", sans-serif;
  }
  .background h1 {
    font-size: 24px;
  }
  .background__prod {
    color: rgb(193, 191, 191);
    font-size: 16px;
  }
  .background__gamepass {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .background__pass {
    width: 120px;
  }
  .background__signin {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .background__signinbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #008746;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color: white;
  }
  .background__cart {
    background-color: rgb(184, 178, 178);
    border: none;
    border-radius: 0.2rem;
    width: 100px;
  }
  .background .backgroung__img {
    height: 35px;
  }
  .descrizione {
    color: white;
    font-family: "Roboto", sans-serif;
    margin-left: 1rem;
    margin-top: 5rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-left: 0.3rem;
  }
  .content__desc {
    display: flex;
    width: 370px;
    min-height: 250px;
    background-color: rgb(56, 54, 54);
    border-radius: 0.5rem;
    padding-left: 0.2rem;
    padding-top: 1rem;
    gap: 0.3rem;
    margin-top: 9rem;
  }
  .content__descrizione1 {
    color: white;
    max-width: 150px;
  }
  .content h3 {
    font-size: 10px;
  }
  .content p {
    font-size: 10px;
  }
  .content__info {
    margin-top: 1rem;
  }
  .content__ulteriori {
    margin-top: 1rem;
  }
  .content__card {
    height: 100px;
    width: 200px;
  }
  .content__imgCard {
    height: 350px;
    width: 360px;
    border-radius: 0.5rem;
    margin-left: 0.2rem;
  }
  .funzionalità {
    display: flex;
    margin-top: 2rem;
    color: white;
    flex-wrap: wrap;
  }
  .funzionalità h2 {
    margin-left: 0.5rem;
  }
  .funzionalità__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 300px;
    min-height: 214px;
    background-color: rgb(56, 54, 54);
    border-radius: 0.5rem;
    padding-bottom: 1rem;
  }
  .funzionalità button {
    align-items: center;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: white;
    background: transparent;
    border-color: white;
    height: 35px;
    width: 160px;
    font-size: 10px;
    border-radius: 0.5rem;
    margin-left: 0.8rem;
  }
  .informazioni {
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
  }
  .informazioni__list {
    margin-left: 0.3rem;
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .informazioni li:nth-child(1):hover {
    background-color: rgba(211, 211, 211, 0.39);
    width: 220px;
  }
  .informazioni li:nth-child(2):hover {
    background-color: rgba(211, 211, 211, 0.39);
    width: 190px;
  }
  .informazioni li:nth-child(3):hover {
    background-color: rgba(211, 211, 211, 0.39);
    width: 270px;
  }
  .informazioni li:nth-child(4):hover {
    background-color: rgba(211, 211, 211, 0.39);
    width: 470px;
  }
  .informazioni li:nth-child(5):hover {
    background-color: rgba(211, 211, 211, 0.39);
    width: 220px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: rgb(3, 0, 0);
    padding-left: 1rem;
    padding-top: 1rem;
    width: 100%;
  }
  .footer h4 {
    color: rgba(255, 255, 255, 0.402);
  }
  .footer ul {
    margin-top: 0.5rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1.5rem;
  }
  .footer li {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.402);
  }
  .footer__first {
    flex-direction: column;
    gap: 1rem;
  }
}/*# sourceMappingURL=game.css.map */