@charset "UTF-8";
.container {
  background-image: url("./assets/lego.jpeg");
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

body {
  overflow: scroll;
  background-repeat: no-repeat;
  background-position: top;
}

.menu {
  width: 100%;
  padding-left: 48px;
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}
.menu__left {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
.menu__button {
  background-color: transparent;
  min-width: 46px;
  min-height: 46px;
  align-items: center;
  border: none;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}
.menu__button:hover {
  background-color: grey;
  cursor: pointer;
}
.menu__cloudgamingbtn {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  max-height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  margin-right: 20rem;
}
.menu__cloudgamingbtn:hover {
  background-color: grey;
  border-radius: 5px;
}
.menu__logo {
  display: flex;
  background-color: transparent;
  max-width: 56px;
  max-height: 56px;
}
.menu__right {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu__searchbar {
  width: 70%;
  text-align: center;
}
.menu__structure {
  border-radius: 35px;
  position: relative;
  height: 48px;
  text-align: center;
}
.menu__bar {
  background-color: rgb(24, 24, 24);
  align-items: center;
  width: 90%;
  height: 100%;
  border-radius: 35px;
  padding: 8px 40px 8px 45px;
  border: 1px solid lightgrey;
  transition: box-shadow 0.3s;
  color: rgba(227, 213, 213, 0.547);
  font-size: 16px;
  line-height: 5px;
}
.menu__bar:focus {
  outline: none;
  box-shadow: 0 0 5px 2px white;
}
.menu__bar::-moz-placeholder {
  color: rgba(227, 213, 213, 0.419);
  padding-left: 4px;
}
.menu__bar::placeholder {
  color: rgba(227, 213, 213, 0.419);
  padding-left: 4px;
}
.menu__search {
  position: absolute;
  left: 0;
  min-width: 5px;
  height: 5px;
  border: none;
  background: none;
  padding-left: 25px;
  padding-top: 0.8rem;
}
.menu__Icon-search {
  height: 25px;
  align-items: center;
  min-width: 25px;
}
.menu__profilebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #484e58;
}

.background {
  display: flex;
  margin-left: 5rem;
  margin-top: 14rem;
  color: white;
  max-width: 600px;
  font-family: "Roboto", sans-serif;
}
.background__prod {
  color: rgba(255, 255, 255, 0.527);
  font-size: 22px;
}
.background__gamepass {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.background__pass {
  width: 120px;
}
.background__signin {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.background__signinbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: 40px;
  background-color: #008746;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  color: white;
}
.background__cart {
  background-color: rgb(184, 178, 178);
  border: none;
  border-radius: 0.2rem;
  width: 100px;
}
.background .backgroung__img {
  height: 35px;
}

.descrizione {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-left: 7rem;
  margin-top: 5rem;
}

.content {
  display: flex;
  margin-left: 2rem;
  margin-top: 2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
.content__card {
  height: 100px;
  width: 200px;
}
.content__imgCard {
  height: 250px;
  width: 180px;
  border-radius: 0.5rem;
  margin-left: 1.2rem;
}
.content__desc {
  display: flex;
  min-width: 1093px;
  min-height: 250px;
  background-color: rgb(56, 54, 54);
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  gap: 5rem;
}
.content__descrizione1 {
  color: white;
  max-width: 300px;
}
.content__info {
  margin-top: 1rem;
}
.content__ulteriori {
  margin-top: 1rem;
}

.funzionalità {
  display: flex;
  margin-left: 7rem;
  margin-top: 2rem;
  color: white;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
}
.funzionalità__container {
  margin-top: 1rem;
  width: 538px;
  min-height: 204px;
  background-color: rgb(56, 54, 54);
  border-radius: 0.5rem;
}
.funzionalità__buttons {
  background: transparent;
  border: white;
}/*# sourceMappingURL=game.css.map */