* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 88px;
    padding: 0px 48px;
    padding-top: 20px;

    .right__nav {
        display: flex;
        flex-direction: row;
        position: fixed;
        right: 180px;
        padding-top: 20px;
    }

    .menu__button {
        background-color: transparent;
        display: inline-block;
        width: 46px;
        height: 46px;
        border: none;
        border-radius: 50%;
        padding: 0;
        text-align: center;
        margin: 0px 38px 0px -6px;
    
        .logo {
            display: block;
            margin: 0 auto;
            background-color: transparent;
            width: 36px;
            height: 36px;
            line-height: 21px;
        }
    }

    .cloud__gaming {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: bold;
        background-color: transparent;
        border: none;
    
        & h2 {
            padding-right: 2px;
            color: white;
        }
    
        & img {
            height: 32px;
            width: 32px;
        }
    }

    .signin {
    max-width: 248px;
    height: 40px;
    margin-right: 30px;

        .signin__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 248px;
            height: 40px;
            background-color: #008746;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            color: white;
        }
    }

    .profile {
        height: 52px;
        width: 52px;
        margin-right: 140px;
        display: flex;

        .searchbar {
            margin-right: 30px;

            #searchsvg {
                width: 20px;
                height: 20px;
                position: absolute;
                margin-top: 8px;
                margin-left: 12px;
            }

            #searchbar {
                text-align: center;
                width: 288px;
                height: 40px; 
                border-radius: 20px;
                border: 1px solid grey;
                background-color: #050505;
            }
        }
    
        .profile__button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: #484e58;
        
            & img {
                width: 25px;
                height: 25px;
            }
        }
    }    
}

.menu__button:hover {
    background-color: grey;
    cursor: pointer;
}

.cloud__gaming:hover {
    background-color: grey;
    border-radius: 5px;
}

.signin__button:hover {
    background-color: #7b4;
}

.bar:focus{
    outline: none;
    box-shadow: 0 0 5px 2px white;

}

.bar::placeholder {
    color: rgba(227, 213, 213, 0.419);
    padding-left: 4px;
}

.header__carousel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding-top: 50px;

    .header__cards {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 20px;
        padding-top: 50px;

        .game__cards {
            left: 45px;
            position: relative;
            width: 100%;
            height: 500px;
            border-radius: 5px;
        
            #games {
                position: absolute;
                z-index: 0;
                width: 100%;
                height: 500px;
                border-radius: 5px;
            }
        
            #svg__cards {
                position: absolute;
                top: 365px;
                left: 18px;
                z-index: 1;
                height: 18px;
                width: 60px;
            }
        
            .game__title {
                position: absolute;
                top: 390px;
                left: 30px;
                z-index: 1;
                color: white;
                font-family: 'Roboto', sans-serif;
                text-shadow: 4px 3px 0 #7A7A7A, 0px 0px 7px #000000;
            }
        
            .game__parag {
                position: absolute;
                top: 450px;
                left: 30px;
                z-index: 1;
                color: white;
                font-family: 'Roboto', sans-serif;
                text-shadow: 4px 3px 0 #7A7A7A, 0px 0px 7px #000000;
            }
        }
    }
}

.second__carousel {
    padding-top: 40px;

    
    .secar__semititles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-family: 'Roboto', sans-serif;

        .cloud__meta {
            padding-left: 50px;
        }

        .show__all {
            padding-right: 105px;
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 259.5px;
        gap: 15px;
        margin: 6px 0px;
        padding: 6px 0px 6px 48px;
        margin-bottom: 30px;
      
        .card {
            padding-right: 180px;

            #card1 {
                height: 259.5px;
                width: 173px;
                position: absolute;
                z-index: 0;
                border-radius: 5px;
            }

            #svg {
                z-index: 1;
                position: absolute;
                height: 16.49px;
                width: 26.38px;
                margin-top: 235px;
                margin-left: 12px;
            }

            .pad {
                z-index: 1;
                display: flex;
                height: 32px;
                width: 32px;
                background-color: rgba(23,67,88,0.5);
                position: absolute;
                align-items: center;
                justify-content: center;
                margin-left: 141px;
                margin-top: 228px;

                #svg2 {
                    z-index: 1;
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
}

.first__menu {
    width: 100%;
    height: 110vh;
    background-color: darkgray;
    background-color:rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px) brightness(0.44) contrast(21%) invert(14%);
    background-image:url(../xboxCloudGaming_clone/assets/star-wars-characters-1bjfbqgbc23v1ch7\ \(1\).jpg);
}

.pad:hover {
    display: none;
}

#svg2:hover {
    display: none;
}

#svg:hover {
    display: none;
}

.body__carousels {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background: rgb(20,56,41);
    background: linear-gradient(180deg, rgba(20,56,41,1) 0%, rgba(20,56,41,1) 46%, rgba(26,27,30,1) 60%);


    .bodycar__gamepass {
        display: flex;
        width: 100%;
        height: 35px;
        margin-top: 40px;
        margin-bottom: 40px;

        & img {
            width: 100%;
            height: auto;
        }
    }

    .bodycar__titles {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-family: 'Roboto', sans-serif;

        .cloud__meta {
            padding-left: 50px;
        }

        .show__all {
            padding-right: 105px;
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 259.5px;
        gap: 15px;
        margin: 6px 0px;
        padding: 6px 0px 6px 48px;
      
        .card {
            padding-right: 180px;

            #card1 {
                height: 259.5px;
                width: 173px;
                position: absolute;
                z-index: 0;
                border-radius: 5px;
            }

            #svg {
                z-index: 1;
                position: absolute;
                height: 16.49px;
                width: 26.38px;
                margin-top: 235px;
                margin-left: 12px;
            }

            .pad {
                z-index: 1;
                display: flex;
                height: 32px;
                width: 32px;
                background-color: rgba(23,67,88,0.5);
                position: absolute;
                align-items: center;
                justify-content: center;
                margin-left: 141px;
                margin-top: 228px;

                #svg2 {
                    z-index: 1;
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
}

.long__cards {

    .long__car {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .lcards__titles {
        color: white;
        font-family: 'Roboto' sans-serif;
        padding-left: 45px;

        .notavailable__soon {
            color: white;
        }
    }

    .l__card {
        width: 100%;
        height: auto;
        position: relative;
        padding-left: 45px;

        #card2 {
            height: 165px;
            width: 300px;
            position: absolute;
            z-index: 0;
            border-radius: 5px;
        }

        #svg {
            z-index: 1;
            position: absolute;
            height: 16.49px;
            width: 26.38px;
            margin-top: 150px;
            margin-left: 5px;
        }
    }
}

.genres {
    width: 100%;
    height: auto;
    padding-top: 180px;
    background: #1a1b1e;

    .genres__titles {
        display: flex;
        justify-content: space-between;
        color: white;
        font-family: 'Roboto' sans-serif;

        .gene {
            padding-left: 50px;
        }
    }

    .genres__buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;
        padding-left: 45px;

        .gen__button {
            width: 195px;
            height: 100px;
            z-index: 0;
            position: relative;
            background-color: #008746;
            border-radius: 5px;

            & img {
                z-index: 1;
                width: 28px;
                height: 28px;
                position: absolute;
                padding-left: 150px;
                padding-top: 10px;
            }

            & h5 {
                color: white;
                font-family: 'Roboto' sans-serif;
                font-size: 12px;
                padding-top: 50px;
                padding-left: 10px;
            }
        }

        .gen__button2 {
            width: 195px;
            height: 100px;
            z-index: 0;
            position: relative;
            background-color: #008572;
            border-radius: 5px;

            & img {
                z-index: 1;
                width: 28px;
                height: 28px;
                position: absolute;
                padding-left: 150px;
                padding-top: 10px;
            }

            & h5 {
                color: white;
                font-family: 'Roboto' sans-serif;
                font-size: 12px;
                padding-top: 50px;
                padding-left: 10px;
            }
        }

        .gen__button3 {
            width: 195px;
            height: 100px;
            z-index: 0;
            position: relative;
            background-color: #007c8f;
            border-radius: 5px;

            & img {
                z-index: 1;
                width: 28px;
                height: 28px;
                position: absolute;
                padding-left: 150px;
                padding-top: 10px;
            }

            & h5 {
                color: white;
                font-family: 'Roboto' sans-serif;
                font-size: 12px;
                padding-top: 50px;
                padding-left: 10px;
            }
        }
    }
}

.triple__carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 620px;
    background-color: #1a1b1e;
    padding-left: 45px;

    .all__games {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-family: 'Roboto' sans-serif;

        .show__all {
            padding-right: 210px;
        }
    }

    .triple__cards {
        display: flex;
        flex: 1;
        gap: 169px;
        height: 150px;

        .tri__card {
            position: relative;

            #tri {
                position: absolute;
                z-index: 0;
                width: 150px;
                height: 150px;
            }
            .container__triple {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                background-color: rgba(black, 0.5);
                position: absolute;
                z-index: 1;
                margin-top: 115px;
                margin-left: 115px;
            }

            #pad {
                width: 20px;
                height: 20px;
                z-index: 1;
            }
        }
    }

    .show__gamelist {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        .display__button {
            margin-top: 20px;
            width: 270px;
            height: 40px;
            text-align: center;
            color: white;
            background-color: #2d3036;
            border: none;
            border-radius: 5px;
        }
    }
}

.footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;

    .footer__container {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-left: 75px;
        padding-right: 95px;

        & h4 {
            padding-bottom: 10px;
            color: lightgrey;
            font-family: 'Roboto' sans-serif;
        }

        & a {
            padding-bottom: 15px;
            color: lightgrey;
            text-decoration: none;
            font-family: 'Roboto' sans-serif;
            font-size: 13px;
        }
    }
}

.footer__container {

    & a:hover {
        text-decoration: underline;
    }
}

.under__footer {

    .language {
        padding-left: 75px;
        margin-top: 15px;
        padding-bottom: 15px;

        #globe {
            width: 20px;
            height: 20px;
            padding-right: 8px;
        }
        
        & a {
            text-decoration: none;
            color: lightgrey;
            font-size: 13px;
            text-align: center;
            padding-right: 8px;
        }
    }

    .cookies__contacts {
        padding-left: 290px;
        padding-bottom: 20px;
        & a {
            text-decoration: none;
            color: lightgrey;
            font-size: 13px;
            padding-right: 25px;
        }

        & a:hover {
            text-decoration: underline;
        }
    }
}

.language {
    & a:hover {
        text-decoration: underline;
    }
}

@media (max-width: 375px) {

    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-height: 88px;
        padding: 0px 48px;
        padding-top: 20px;
    
        .right__nav {
            display: flex;
            flex-direction: row;
            position: fixed;
            right: 0px;
            padding-top: 20px;
        }
    
        .menu__button {
            background-color: transparent;
            display: inline-block;
            width: 46px;
            height: 46px;
            border: none;
            border-radius: 50%;
            padding: 0;
            text-align: center;
            margin: 0px 38px 0px -6px;
        
            .logo {
                display: block;
                margin: 0 auto;
                background-color: transparent;
                width: 36px;
                height: 36px;
                line-height: 21px;
            }
        }
    
        .cloud__gaming {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 40px;
            font-family: 'Roboto', sans-serif;
            font-size: 10px;
            font-weight: bold;
            background-color: transparent;
            border: none;
        
            & h2 {
                padding-right: 2px;
                color: white;
            }
        
            & img {
                height: 32px;
                width: 32px;
            }
        }
    
        .signin {
        max-width: 248px;
        height: 40px;
        margin-right: 30px;
    
            .signin__button {
                display: none;
                align-items: center;
                justify-content: center;
                width: 248px;
                height: 40px;
                background-color: #008746;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: bold;
                border: none;
                border-radius: 5px;
                color: white;
            }
        }
    
        .profile {
            height: 52px;
            width: 52px;
            display: flex;
    
            .searchbar {
                display: flex;
                margin-right: 30px;
    
                #searchsvg {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    margin-top: -10px;
                    margin-left: 120px;
                }
    
                #searchbar {
                    display: none;
                    text-align: center;
                    width: 288px;
                    height: 40px; 
                    border-radius: 20px;
                    border: 1px solid grey;
                    background-color: #050505;
                }
            }
        
            .profile__button {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: #484e58;
                margin-left: 130px;
                position: fixed;
                top: 18px;
                right: 0;
            
                & img {
                    width: 25px;
                    height: 25px;
                }
            }
        }    
    }
    
    .menu__button:hover {
        background-color: grey;
        cursor: pointer;
    }
    
    .cloud__gaming:hover {
        background-color: grey;
        border-radius: 5px;
    }
    
    .signin__button:hover {
        background-color: #7b4;
    }
    
    .bar:focus{
        outline: none;
        box-shadow: 0 0 5px 2px white;
    
    }
    
    .bar::placeholder {
        color: rgba(227, 213, 213, 0.419);
        padding-left: 4px;
    }
    
    .header__carousel {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        white-space: nowrap;
        max-width: 375px;
        padding-top: 20px;
    
        .header__cards {
            display: flex;
            max-width: 375px;
            height: 50vh;
            gap: 210px;
            padding-top: 20px;
    
            .game__cards {
                left: 16px;
                position: relative;
                max-width: 375px;
                height: 272px;
                border-radius: 5px;
            
                #games {
                    position: absolute;
                    z-index: 0;
                    width: 272px;
                    height: 272px;
                    border-radius: 5px;
                }
            
                #svg__cards {
                    position: absolute;
                    top: 150px;
                    left: 2px;
                    z-index: 1;
                    height: 18px;
                    width: 60px;
                }
            
                .game__title {
                    position: absolute;
                    top: 180px;
                    left: 12px;
                    z-index: 1;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    font-size: 28px;
                    text-shadow: 4px 3px 0 #7A7A7A, 0px 0px 7px #000000;
                }
            
                .game__parag {
                    position: absolute;
                    top: 230px;
                    left: 12px;
                    z-index: 1;
                    color: white;
                    font-family: 'Roboto', sans-serif;
                    text-shadow: 4px 3px 0 #7A7A7A, 0px 0px 7px #000000;
                }
            }
        }
    }
    
    .second__carousel {
        padding-top: 0px;
    
        
        .secar__semititles {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            font-family: 'Roboto', sans-serif;
    
            .cloud__meta {
                padding-left: 16px;
                font-size: 19px;
            }
    
            .show__all {
                padding-right: 105px;
                display: none;
            }
        }
    
        .cards {
            display: flex;
            flex-direction: row;
            max-width: 100%;
            height: 100vh;
            gap: 15px;
            margin: 6px 0px;
            padding: 6px 0px 6px 16px;
            margin-bottom: 30px;
          
            .card {
                padding-right: 130px;
    
                #card1 {
                    height: 192px;
                    width: 128px;
                    position: absolute;
                    z-index: 0;
                    border-radius: 5px;
                }
    
                #svg {
                    z-index: 1;
                    position: absolute;
                    height: 16.49px;
                    width: 26.38px;
                    margin-top: 165px;
                    margin-left: 10px;
                }
    
                .pad {
                    z-index: 1;
                    display: flex;
                    height: 32px;
                    width: 32px;
                    background-color: rgba(23,67,88,0.5);
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    margin-left: 96px;
                    margin-top: 160px;
    
                    #svg2 {
                        z-index: 1;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }

    #none {
        display: none;
    }
    
    .first__menu {
        width: 100%;
        height: 110vh;
        background-color: darkgray;
        background-color:rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(2px) brightness(0.44) contrast(21%) invert(14%);
        background-image:url(../xboxCloudGaming_clone/assets/star-wars-characters-1bjfbqgbc23v1ch7\ \(1\).jpg);
    }
    
    .pad:hover {
        display: none;
    }
    
    #svg2:hover {
        display: none;
    }
    
    #svg:hover {
        display: none;
    }
    
    .body__carousels {
        max-width: 375px;
        height: 100vh;
        padding-top: 100px;
        background: rgb(20,56,41);
        background: linear-gradient(180deg, rgba(20,56,41,1) 0%, rgba(20,56,41,1) 46%, rgba(26,27,30,1) 60%);
    
    
        .bodycar__gamepass {
            display: flex;
            width: 157px;
            height: 27px;
            margin-top: 10px;
            margin-left: 110px;
            margin-bottom: 40px;
    
            & img {
                width: 157px;
                height: 27px;
            }
        }
    
        .bodycar__titles {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            font-family: 'Roboto', sans-serif;
    
            .cloud__meta {
                padding-left: 16px;
                font-size: 19px;
            }
    
            .show__all {
                padding-right: 105px;
                display: none;
            }
        }
    
        .cards {
            display: flex;
            flex-direction: row;
            max-width: 375px;
            height: 50vh;
            gap: 15px;
            margin: 6px 0px;
            padding: 6px 0px 6px 16px;
          
            .card {
                padding-right: 130px;
    
                #card1 {
                    height: 192px;
                    width: 128px;
                    position: absolute;
                    z-index: 0;
                    border-radius: 5px;
                }
    
                #svg {
                    z-index: 1;
                    position: absolute;
                    height: 16.49px;
                    width: 26.38px;
                    margin-top: 165px;
                    margin-left: 10px;
                }
    
                .pad {
                    z-index: 1;
                    display: flex;
                    height: 32px;
                    width: 32px;
                    background-color: rgba(23,67,88,0.5);
                    position: absolute;
                    align-items: center;
                    justify-content: center;
                    margin-left: 96px;
                    margin-top: 160px;
    
                    #svg2 {
                        z-index: 1;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
    
    .long__cards {
    
        .long__car {
            display: flex;
            flex-direction: row;
            max-width: 375px;
            height: auto;
            gap: 220px;
        }
    
        .lcards__titles {
            color: white;
            font-family: 'Roboto' sans-serif;
            padding-left: 16px;

            .notavailable__soon {
                color: white;
                font-size: 19px;
                padding-bottom: 20px;
            }
        }
    
        .l__card {
            width: 100%;
            height: auto;
            position: relative;
            padding-left: 16px;
    
            #card2 {
                height: 156px;
                width: 280px;
                position: absolute;
                z-index: 0;
                border-radius: 5px;
            }
    
            #svg {
                z-index: 1;
                position: absolute;
                height: 16.49px;
                width: 26.38px;
                margin-top: 130px;
                margin-left: 10px;
            }
        }
    }
    
    .genres {
        max-width: 375px;
        height: auto;
        padding-top: 180px;
        background: #1a1b1e;
    
        .genres__titles {
            display: flex;
            justify-content: space-between;
            color: white;
            font-family: 'Roboto' sans-serif;
    
            .gene {
                padding-left: 16px;
                font-size: 19px;
                padding-bottom: 20px;
            }
        }
    
        .genres__buttons {
            display: grid;
            grid-template-areas: 
            "indie forfamily"
            "shooting action"
            "brawler strategy"
            "simulator rpg";
            gap: 15px;
            max-width: 375px;
            padding-left: 16px;
    
            .gen__button {
                width: 163.5px;
                height: 96px;
                z-index: 0;
                position: relative;
                background-color: #008746;
                border-radius: 5px;
    
                & img {
                    z-index: 1;
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    right: 10px;
                    padding-left: 10px;
                    padding-top: 10px;
                }
    
                & h5 {
                    color: white;
                    font-family: 'Roboto' sans-serif;
                    font-size: 12px;
                    padding-top: 50px;
                    padding-left: 10px;
                }
            }
    
            .gen__button2 {
                width: 163.5px;
                height: 96px;
                z-index: 0;
                position: relative;
                background-color: #008572;
                border-radius: 5px;
    
                & img {
                    z-index: 1;
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    right: 10px;
                    padding-left: 10px;
                    padding-top: 10px;
                }
    
                & h5 {
                    color: white;
                    font-family: 'Roboto' sans-serif;
                    font-size: 12px;
                    padding-top: 50px;
                    padding-left: 10px;
                }
            }
    
            .gen__button3 {
                width: 163.5px;
                height: 96px;
                z-index: 0;
                position: relative;
                background-color: #007c8f;
                border-radius: 5px;
    
                & img {
                    z-index: 1;
                    width: 28px;
                    height: 28px;
                    position: absolute;
                    right: 10px;
                    padding-left: 10px;
                    padding-top: 10px;
                }
    
                & h5 {
                    color: white;
                    font-family: 'Roboto' sans-serif;
                    font-size: 12px;
                    padding-top: 60px;
                    padding-left: 10px;
                }
            }
        }
    }
    
    .triple__carousel {
        display: flex;
        flex-direction: column;
        max-width: 375px;
        height: 100vh;
        background-color: #1a1b1e;
        padding-top: 20px;
        padding-left: 16px;
    
        .all__games {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            font-family: 'Roboto' sans-serif;
            padding-bottom: 20px;
    
            .show__all {
                padding-right: 210px;
                display: none;
            }
        }
    
        .triple__cards {
            display: grid;
            grid-template-areas: 
            "daystodie plaguetale ageofempire"
            "amncoll amnreb amntheb"
            "among ante araga";
            flex: 1;
            gap: 110px 10px;
            max-width: 375px;
            height: 100vh;
    
            .tri__card {
                position: relative;
    
                #tri {
                    position: absolute;
                    z-index: 0;
                    width: 103.66px;
                    height: 103.66px;
                }
                .container__triple {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    background-color: rgba(black, 0.5);
                    position: absolute;
                    z-index: 1;
                    margin-top: 70px;
                    margin-left: 70px;
                }
    
                #pad {
                    width: 20px;
                    height: 20px;
                    z-index: 1;
                }
            }
        }
    
        .show__gamelist {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
    
            .display__button {
                width: 270px;
                height: 40px;
                text-align: center;
                color: white;
                background-color: #2d3036;
                border: none;
                border-radius: 5px;
            }
        }
    }
    
    .footer {
        background-color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
    
        .footer__container {
            display: flex;
            flex-direction: column;
            padding-top: 45px;
            padding-left: 30px;
            padding-right: 95px;
    
            & h4 {
                padding-bottom: 10px;
                color: lightgrey;
                font-family: 'Roboto' sans-serif;
            }
    
            & a {
                padding-bottom: 15px;
                color: lightgrey;
                text-decoration: none;
                font-family: 'Roboto' sans-serif;
                font-size: 13px;
            }
        }
    }
    
    .footer__container {
    
        & a:hover {
            text-decoration: underline;
        }
    }
    
    .under__footer {
    
        .language {
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            margin-top: 15px;

            #cali {
                width: 33px;
                height: 16px;
            }
    
            #globe {
                width: 20px;
                height: 20px;
                padding-right: 8px;
            }
            
            & a {
                text-decoration: none;
                color: lightgrey;
                font-size: 13px;
                text-align: center;
                padding-right: 65px;
            }
        }
    
        .cookies__contacts {
            padding-left: 16px;
            padding-bottom: 20px;
            & a {
                text-decoration: none;
                color: lightgrey;
                font-size: 13px;
                padding-right: 12px;
            }
    
            & a:hover {
                text-decoration: underline;
            }
        }
    }
    
    .language {
        & a:hover {
            text-decoration: underline;
        }
    }
}

#indie {
    grid-area: indie;
}

#forfamily {
    grid-area: forfamily;
}

#shooting {
    grid-area: shooting;
}

#action {
    grid-area: action;
}

#brawler {
    grid-area: brawler;
}

#strategy {
    grid-area: strategy;
}

#simulator {
    grid-area: simulator;
}

#rpg {
    grid-area: rpg;
}

#daystodie {
    grid-area: daystodie;
}

#plaguetale {
    grid-area: plaguetale;
}

#ageofempire {
    grid-area: ageofempire;
}

#amncoll {
    grid-area: amncoll;
}

#amnreb {
    grid-area: amnreb;
}

#amntheb {
    grid-area: amntheb;
}

#among {
    grid-area: among;
}

#ante {
    grid-area: ante;
}