<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <section class="searchbar">
        <form class="structure">
            <label for="search"></label>
            <input class="bar" id="search" name="search"type="search" placeholder="Cerca giochi">
            <button  class="search"type="submit"><img class="Icon-search" src="https://img.icons8.com/windows/32/FFFFFF/search--v1.png" alt="search--v1"/></button>
        </form>
    </section>


</body>
</html>




