<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>


    <section class="searchbar">
        <form class="structure">
            <label for="search"></label>
            <input class="bar" id="search" name="search"type="search" placeholder="Cerca giochi">
            <button  class="search"type="submit"><img class="Icon-search" src="https://img.icons8.com/windows/32/FFFFFF/search--v1.png" alt="search--v1"/></button>
        </form>
    </section>


</body>
</html>




<!-- 

      <nav class="menu">
      
        <button class="menu__button">
          <img src="../assets/logoX.png" alt="xbox logo" class="logo">
        </button>


          <button class="cloudgaming">
            <h2>CLOUD GAMING</h2>
            <img src="../..xboxCloudGaming_clone/assets/BETA.svg" alt="">
          </button>


        <!-- <div class="rightnav"> -->
<!-- 
            <div class="signin">

                <button class="signinbutton">ACCEDI</button>
    
              </div>
    
              <section class="searchbar">
    
                <form class="structure">
                  <label for="search"></label>
                  <input class="bar" id="search" name="search"type="search" placeholder="Cerca giochi">
                  <button  class="search" type="submit"><img class="Icon-search" src="../xboxCloudGaming_clone/assets/svgexport-3.svg" alt="search--v1"/></button>
                </form>
    
              </section>
    
    
                <button class="profilebutton">
                    <img src="../xboxCloudGaming_clone/assets/svgexport-5.svg" alt="profile image" height="40px" width="40px">
                </button>
    
            </div>
          </nav>
    
 --> -->