button {
    background-color: transparent;
    display: inline-block;
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50%;
    padding: 0;
    text-align: center;
}

button:hover {
    background-color: grey;
    cursor: pointer;
}

.logo {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    width: 36px;
    height: 36px;
    line-height: 21px;
}
body{
    background-color: black;
}