.circle-container {
    display: inline-block;
    position: relative;
  }
  
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-bottom: ;
    overflow: hidden;
    position: relative;
    border: none;
    outline: none;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
  }
  
  .circle:hover {
    background-color: black;

  }
  

  