<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
   <div class="third__carousel">
        <div class="cards">
            <div class="card">
                <img src="../components/imgs/cassette__beasts.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
            <div class="card">
                <img src="../components/imgs/railway__empire2.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
            <div class="card">
                <img src="../components/imgs/ass__creed__odissey.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
            <div class="card">  
                <img src="../components/imgs/supraland.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
            <div class="card">
                <img src="../components/imgs/mortalk__11.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
            <div class="card">
                <img src="../components/imgs/planet__of__lana.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
            <div class="card">
                <img src="../components/imgs/massive__chalice.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
            <div class="card">
                <img src="../components/imgs/eastern__exorcist.jpg" alt="" id="card1">
                <img src="../components/imgs/svgexport-7.svg" alt="" id="svg">
                <div class="pad">
                    <img src="../components/imgs/svgexport-8.svg" alt="" id="svg2">
                </div>
            </div>
        </div>
   </div> 
</body>
</html>