<!--CAROUSEL COMPONENT - SILVIA PALAZZOTTO-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carousel</title>
    <link rel="stylesheet" href="component-carosel-cards.css">
</head>
<body>
    <div class="title_bar">
        <p>Più diffusi sul cloud</p>
        <p class="link_reference">Mostra tutto</p>
    </div>
    <div class="carousel">
        <div class="carousel-item">
          <img src="fortnite_logo.jpg">
        </div>
        <div class="carousel-item">
          <img src="Mortal_kombat_logo.jpg">
        </div>
        <div class="carousel-item">
          <img src="forza_horizon_logo.jpg">
        </div>
      </div>
</body>
</html>