<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../component-game-description/img/icons8-xbox-50.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="description">
        <h4>Descrizione</h4>
        <div class="description-big-box">
            <div class="description-big-box-image">
                <img src="../component-game-description/img/battlefield5.png" height="100%" width="140px" alt="">  
            </div>
            <div class="description-big-box-p">
                <p> Partecipa al più grande conflitto della storia in Battlefield™ V, che segna il ritorno alle origini <br>
                    della serie in una Seconda Guerra Mondiale mai così tanto realistica. Affronta intense battaglie <br>
                    multigiocatore con la tua squadra nelle imponenti Grandi operazioni e nella modalità in <br>
                    cooperativa Forze combinate, oppure emozionati nelle avvincenti e toccanti Storie di guerra <br>
                    per giocatore singolo. Mentre combatti in località epiche e sorprendenti in tutto il mondo, <br>
                    goditi il capitolo di Battlefield più ricco e coinvolgente mai creato. Ora l'esperienza include <br>
                    anche Tempesta di fuoco, la Battle Royale rivoluzionata per Battlefield ... <br>
                    <br>
                    <div id="details">
                        ULTERIORI DETTAGLI >
                    </div>
                </p>
            </div>
            <div class="description-big-box-side">
                <div class="description-big-box-side-titles">
                    <h4>Pubblicato da</h4>
                    <p>Electronic Arts</p>
                </div>
                <div class="description-big-box-side-titles">
                    <h4>Sviluppato da</h4>
                    <p>DICE</p>
                </div>
                <div class="description-big-box-side-titles">
                    <h4>Data di rilascio</h4>
                    <p>20/11/2018</p>
                </div>
            </div>
        </div>
    </div>
        <div class="functionality-e-accessibility-boxes">
            <div class="card-box">
                <h4>Funzionalità</h4>
                <div class="functionality-boxes">
                    <button disabled>Multiplayer online (10-64)</button>
                    <button disabled>Singolo giocatore</button>
                    <button disabled>abilitato per il cloud</button>
                    <button disabled>Xbox one X avanzato</button>
                    <button disabled>Xbox Live</button>
                </div>
            </div>
            <div class="card-box">
                <h4>Accessibilità</h4>
                <div class="functionality-boxes">
                    <button disabled>Tutorial on demand</button>
                    <button disabled>Audio spaziale</button>
                    <button disabled>Opzione colore</button>
                    <button disabled>Sensibilita di input regolabile</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>