<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="component-UL-LINK-FOOTER.css">
</head>
<body>
    <footer>
        <ul class="footer__list">
            <h5>Esplora</h5>
            <li class="footer__list__item"><a href="#">Xbox Console</a></li>
            <li class="footer__list__item"><a href="#">Giochi per Xbox</a></li>
            <li class="footer__list__item"><a href="#">Xbox GamePass</a></li>
            <li class="footer__list__item"><a href="#">Accessori per Xbox</a></li>
        </ul>
    </footer>
</body>
</html>