<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="cards-Header">
        <div class="cards-Header-element"> 
            <button class="gamepass-button">GAME PASS</button>
            <h2 class="cards-header-title">Mortal Kombat 11</h2>
            <p class="cards-header-description">L'evoluzione futura dell'iconico franchise</p>
        </div>
    </div>
    
</body>
</html>