*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);

}

.searchbar{
    width: 60%;
    min-width: 250px;
    max-width: 330px;
    height: 180px;
    text-align: center;
}

form{
    border-radius: 35px;
    position: relative;
    height: 48px;
    text-align: center;
}
input{
    background-color: rgb(24, 24, 24);
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    padding: 8px 40px 8px 45px;
    border: 1px solid lightgrey;
    transition: box-shadow 0.3s;
    color: rgb(227, 213, 213);
    font-size: 16px;
    line-height: 5px;


}
input:focus{
    outline: none;
    box-shadow: 0 0 5px 2px white;

}
input::placeholder {
    color: rgba(227, 213, 213, 0.419);
    padding-left: 4px;

  }

button{
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    border: none;
    background: none;
    line-height: 5px;
    padding-left: 10px;
    
}
img{
    height: 23px;
    width: 23px;
}